body {
	background-color: black;
	display: flex;
	flex-direction: column;
}
.container {
	display: flex;
	flex-direction: row;
	border: 2px solid blue;
	width: 1005px;
}

#canvas-holder {
	width: 800px;
}

#intro-screen{
	font-family: 'Righteous';
	color: blue;
	display: flex;
	height: 600px;
	flex-direction: column;
	justify-content: space-around;
}

#title {
	padding-top: 150px;
	font-size: 180px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: .9rem;
}

#control-panel{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.buttons {
	background-color: blue;
	color: black;
	font-size: 50px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;

}

canvas {
	
	box-sizing: border-box;
/*	margin-left: auto;
	margin-right: auto;*/
}

.stats {
	width: 200px;
	height: 800px;
	background-color: brown;
	margin-right: 2px;
	font-family: 'Jura', sans-serif;
}

#level {
	font-size: 20px;
}




/*LEVEL ONE*/

.ocean {
	background: url(../img/OceanAnim.png);
	background-size: cover;
}




/*stuff for modal*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(150, 100, 100, 1);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

#modal-title {
	font-size: 24px;
	font-weight: bold;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
